

<div id ="title_actions_new">
	<%= link_to "Logout", {:controller => "users", :action => "logout"}, :class => "new_note" %>
	<%= link_to "New note", {:action => "new"}, :class => "new_note" %>

    <%= form_tag "notes#index", :method => 'get', :id => "search_form", :class => "new_note" do %>
    	<%= text_field_tag :search, params[:search], :id => "search_input" %>
    	<%= submit_tag "Search", :name => nil, :id => "search_submit" %>
    <% end %>

	<br /><br /><br />
	<p id = "welcome">Welcome <%= session[:first_name] %> <%= session[:last_name] %></p>
            
	<p class = "flash_notice">
	   <%= flash[:notice] %>
	</p>
	<% if @notes.count == 0 %>
	<h1 class = "center"> No notes found</h1> 
	<% else %>
	<p class = "center"><%= @notes.count %> notes found </p>
	<% end %>
    <div id = "content_wrapper">

	    <% @notes.each do |note| %>	     
	       <div class = "title_actions">
				<h2><%= link_to "#{note.title}",{:action => "show", :id => note.id},:class =>"note_title" %></h2>

				<div id = "actions">
					<%= link_to "Edit", {:action => "edit", :id => note.id}, :class => "button" %>
					<%= link_to "Delete", {:action => "delete", :id => note.id}, :class => "button" %>
			    </div>

			    <p class = "content_index"><%= truncate(note.content.html_safe, :length => 80, :escape => false) %></p>

			    <p id = "time_ago">
			    <%= note.created_at %>(<%= time_ago_in_words(note.created_at) %>)			     
			    </p>

			    <hr />

			</div>
	</div>

</div>
<% end %>
<%= will_paginate @notes, :previous_label => "older", :next_label => "newer",
                          :inner_window => 3, :outer_window => 3 %>
<div id = "placeholder_above_footer"></div>
<div id = "footer_index">
<p id = "copyright">&copy;Akash Pinnaka</p>
</div>