<%= link_to("<< Back to profile", {:controller => "users", :action => "show", :id => @user.id}, :id => "back_to_profile") %>
<div id = "main_content_edit">
<h1>Update your profile</h1>
<%= form_for(:user, :url => {:action => "update", :id => @user.id}) do |f| %>
<table>
<tr>
<td class = "padd no_border"><%= f.label(:first_name) %></td>
<td class = "padd no_border"><%= f.text_field(:first_name, :class => "field_signup") %></td>
</tr>
<tr>
<td class = "padd no_border"><%= f.label(:last_name) %></td>
<td class = "padd no_border"><%= f.text_field(:last_name, :class => "field_signup") %></td>
</tr>
<tr>
<td class = "padd no_border"><%= f.label(:username) %></td>
<td class = "padd"><%= f.text_field(:username, :class => "field_signup") %></td>
</tr>
<tr>
<td class = "padd no_border"><%= f.label(:password, "New Password") %></td>
<td class = "padd no_border"><%= f.password_field(:password, :class => "field_signup") %></td>
</tr>
<tr>
<td class = "padd no_border"><%= f.label(:password_confirmation, "Confirm password") %></td>
<td class = "padd no_border"><%= f.password_field(:password_confirmation,:class => "field_signup")%></td>
</tr>
<tr>
<td class = "padd no_border no_border">&nbsp;</td>
<td class = "padd no_border"><%= f.submit("Update", :id => "update_user") %></td>
</tr>

</table>

<% end %>
</div>
