<%= link_to("Home" ,{:action => "index"}, :id => "home_button") %>

<%= image_tag("notebook.png", :id => "img_signup_page") %>

<div id = "main_content_signup">

	<h1>Sign Up</h1>
	<% if @user.errors.present? %>
	<div id = "error_box">

		<div class = "float_left_error_box">
			<h3 id = "error_heading">Errors</h3>
		</div>

		<div class = "float_left_error_box" id = "error_messages_list">
			<ul>
			 
			 	<% @user.errors.full_messages.each do |message| %>
			 		<li class = "error_messages"><%= message %></li>
			 	<% end %>
			
			</ul>
		</div>

	</div>
 <% end %>

<%= form_for(:user, :url => {:action => "create"}, :html => { :multipart => true }) do |f| %>
<table>
<tr>
<td class = "padd no_border"><%= f.label(:first_name) %></td>
<td class = "padd no_border"><%= f.text_field(:first_name, :class => "field_signup") %></td>
</tr>
<tr>
<td class = "padd no_border"><%= f.label(:last_name) %></td>
<td class = "padd no_border"><%= f.text_field(:last_name, :class => "field_signup") %></td>
</tr>
<tr>
<td class = "padd no_border"><%= f.label(:username) %></td>
<td class = "padd"><%= f.text_field(:username, :class => "field_signup") %></td>
</tr>
<tr>
<td class = "padd no_border"><%= f.label(:email) %></td>
<td class = "padd no_border"><%= f.text_field(:email, :class => "field_signup") %></td>
</tr>
<tr>
<td class = "padd no_border no_border"><%= f.label(:profile_picture) %></td>
<td class = "padd no_border"><%= f.file_field(:profile_picture) %></td>
</tr>
<tr>
<td class = "padd no_border"><%= f.label(:password) %></td>
<td class = "padd no_border"><%= f.password_field(:password, :class => "field_signup") %></td>
</tr>
<tr>
<td class = "padd no_border"><%= f.label(:password_confirmation, "Confirm password") %></td>
<td class = "padd no_border"><%= f.password_field(:password_confirmation,:class => "field_signup")%></td>
</tr>
<tr>
<td class = "padd no_border no_border">&nbsp;</td>
<td class = "padd no_border"><%= f.submit("Sign up") %></td>
</tr>

</table>

<% end %>

</div>